
@import 'client-style.css';
@import 'subStyles/interface.css';
@import 'subStyles/swipers.css';
@import 'subStyles/carousel.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply font-sans
}
button {
    @apply flex items-center justify-center ;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.animation-shake:hover {
    animation: tilt-n-move-shaking 0.35s infinite;
}

html {
    scroll-behavior: smooth;
}
.articles-list {
    break-inside: avoid;
}

